*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 165, 0);
}

/* MAIN CONTAINER */
.container{
    border-radius: 10%;
    margin: 20px auto;
    background-color: #296d98;
    height: 600px;
    width: 400px;
    padding-top: 20px;
}

/* DISPLAYER */
.displayer{
    width: 90%;
    height: 70px;
    background-color: white;
    margin: 0 auto;
    border-radius: 25px;
    font-size: 50px;
    text-align: right;
    padding: 3px 10px;
    font-family: 'JetBrains Mono', monospace;
}

/* BUTTONS */
.buttons-container{
    margin: auto;
    width: 90%;
    margin-top: 10px;
    
}

.clear-buttons-container{
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.clear-buttons{
    height: 50px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 30px;
    color: white;
    outline: none;
    cursor: pointer;
    box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #ffa914 5%, #bc3315 100%);
    background-color:#ffa914;
    text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}

.clear-buttons:hover, .equal:hover{
	background:linear-gradient(to bottom, #bc3315 5%, #ffa914 100%);
	background-color:#bc3315;
}
.clear-buttons:active, .equal:hover {
	position:relative;
	top:1px;
}


.regular-buttons-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
}

.button{
    height: 97px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 50px;
    outline: none;
    cursor: pointer;
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color:#768d87;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
    }

.button:hover {
    background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color:#6c7c7c;
    }
.button:active {
    position:relative;
    top:1px;
}

.equal{
    box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #ffa914 5%, #bc3315 100%);
    background-color:#ffa914;
    color: white;
    text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}

.top-left{
    border-top-left-radius: 15px;
}
.top-right{
    border-top-right-radius: 15px;
}
.bot-left{
    border-bottom-left-radius: 15px;
}
.bot-right{
    border-bottom-right-radius: 15px;
}

/* .equal{
    background-color: #ed7117;
    color: white;
} */